<!DOCTYPE html>
<html>
<head>
  <title>Signup Success</title>
  <style>
    /* Add your CSS styles here */
    body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .success-container {
      background-color: #fff;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 300px;
      text-align: center;
    }

    h1 {
      color: #333;
    }

    p {
      margin-top: 20px;
      color: #555;
    }

    a {
      color: #2d87f0;
    }
  </style>
</head>
<body>
  <div class="success-container">
    <h1>Thank You!</h1>
    <p>You have successfully registered.</p>
    <p>We have sent you an email. Please confirm the registration from the email. </p>
    <p><a href="/api/auth/login-page">Click here to login</a></p>
  </div>
</body>
</html>
